@tailwind base;
@tailwind components;
@tailwind utilities;

body.no-scroll {
    overflow: hidden;
}

::-webkit-scrollbar{
    background-color: white;
    width: 20px;
}
::-webkit-scrollbar-thumb{
    border: 5px solid white;
    border-radius: 100px;
    background-color: black;
}
.dark ::-webkit-scrollbar{
    background-color: black;
}
.dark ::-webkit-scrollbar-thumb{
    border: 5px solid black;
    background-color: white;
}
